.index-intro{
    padding: 100px 0;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.index-intro > p {
    font-weight:100;
    line-height: 2.4rem;
    font-size: 2rem;
}
.index-intro > p > span{
    font-weight: bold;
}
.index-intro img{
    width: 300px;
}